# Ignore build folders
x64/
Debug/
Release/
.vs/

# Ignore Visual Studio Files
*.vcxproj
*.vcxproj.filters
*.vcxproj.user
*.sln

# Ignore compiled binaries and caches
*.exe
*.obj
*.pdb
*.user
*.log
*.suo
*.cache
*.db
